@model IEnumerable<ISNP001724_ISNP010424_ISNP142324_Bloque3.Models.pelicula>

@{
    ViewData["Title"] = "Index";
}


<p>
    <a asp-action="Create">Crear nuevo registro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sinopsis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duración)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clasificación)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Autor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sinopsis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duración)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clasificación)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idPelicula">Modificar</a> |
                <a asp-action="Details" asp-route-id="@item.idPelicula">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.idPelicula">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
